* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: smooth;
    transition: 1s;
}

main {
    display: flex;
    flex-direction: column;
    gap: 100px;
    background: #181818;
    padding-top: 90px;
}

/*------------------ barra de rolagem --------- */
body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: #181818;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(162, 105, 250, 0.8) 43.75%, rgba(255, 190, 69, 0.8) 100%);
    border-radius: 20px;
}

/* ----------------------------------------------- */

/* -------------> CABEÇALHO DO PORTIFÓLIO <-----------------*/

header {
    display: flex;
    position: fixed;
    width: 100%;
    flex-direction: row;
    padding: 30px 130px;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transition: 0.3s all;
}

.logo__cabecalho a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.cabecalho__nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    color: #FFFFFF80;
    font-family: sans-serif;
    font-size: 18px;
}


.bolinha {
    background: #FFBE45;
    border-radius: 50px;
    width: 10px;
    height: 10px;
}

.componente__item {
    display: flex;
    gap: 7px;
    flex-direction: column;
    align-items: center;
}

.componente__item:hover{
    font-weight: bold;
}

.botao__cabecalho {
    padding: 10px 30px;
    color: #FFFFFF;
    font-weight: bold;
    background: #FFBE45;
    border-radius: 30px;
}



/* ------------- MOSTRA INICIO - INDICADOR ------------- */

.componente__item a  {
    color: #FFBE45;
}

.componente__item a:not(.m_ini) {
    color: #FFFFFF80;
}

.componente__item div {
    background: #FFBE45;
}

.componente__item div:not(.auxiliar__inicio) {
    display: none;
}


/* -------------------------------------------------------- */


/* ------------- JAVASCRIPT HEADER ------------- */

header.background__rolagem {
    background: #181818;
    padding: 20px 130px;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.1);
    
}


/* -------------------------------------------------------- */


/* ------------- MOSTRA HISTORIA - INDICADOR ------------- */

.cabecalho__nav-bar.mostra_history .componente__item a {
    color: #FFBE45;
}

.cabecalho__nav-bar.mostra_history .componente__item a:not(.m_his) {
    color: #FFFFFF80;
}

.cabecalho__nav-bar.mostra_history .componente__item div {
    display: flex;
    background: #FFBE45;
}

.cabecalho__nav-bar.mostra_history .componente__item div:not(.auxiliar__historia) {
    display: none;
}



/* ----------------------------------------------------------- */


/* ------------- MOSTRA HABILIDADES - INDICADOR ------------- */

.cabecalho__nav-bar.mostra_hab .componente__item a {
    color: #FFBE45;
}

.cabecalho__nav-bar.mostra_hab .componente__item a:not(.m_hab) {
    color: #FFFFFF80;
}

.cabecalho__nav-bar.mostra_hab .componente__item div {
    display: flex;
    background: #FFBE45;
}

.cabecalho__nav-bar.mostra_hab .componente__item div:not(.auxiliar__habilidades) {
    display: none;
}


/* ----------------------------------------------------------- */


/* ------------- MOSTRA PROJETOS - INDICADOR ------------- */

.cabecalho__nav-bar.mostra_proj .componente__item a {
    color: #FFBE45;
}

.cabecalho__nav-bar.mostra_proj .componente__item a:not(.m_proj) {
    color: #FFFFFF80;
}

.cabecalho__nav-bar.mostra_proj .componente__item div {
    display: flex;
    background: #FFBE45;
}

.cabecalho__nav-bar.mostra_proj .componente__item div:not(.auxiliar__item) {
    display: none;
}


/* ----------------------------------------------------------- */


/* ------------- MOSTRA CONTATO - INDICADOR ------------- */

.cabecalho__nav-bar.mostra_cont .componente__item a {
    color: #FFFFFF80;
}

.cabecalho__nav-bar.mostra_cont .componente__item div {
    display: none;
}


/* ----------------------------------------------------------- */

header.background__rolagem2 {
    box-shadow: none;
    
}


/* --------> section inicio <---------- */

.inicio {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 130px;
}

.vidro__inicio {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 20px 100px;
    justify-content: space-between;
    background: linear-gradient(248.4deg, rgba(255, 255, 255, 0.02) 0.76%, rgba(255, 255, 255, 0.04) 95.51%);
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(150px);
    border-radius: 30px;
}

.principal__inicio {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.inicio__nomes {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    color: #FFFFFF;
    gap: 25px;
}

.meu_nome {
    font-size: 45px;
    font-weight: bold;
}

.hab_principal {
    font-style: italic;
}

.botao__inicio-contato {
    display: flex;
    width: 77%;
    background: #FFBE45;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding: 20px 50px;
    border: none;
}

.botao__entrar-em-contato {
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
}


/* ------------------- SECTION HISTORIA ---------------------- */

.historia {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 130px;
}

.historia__principal {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}

.historia__texto {
    display: flex;
    color: #FFFFFF;
    text-align: justify;
    justify-content: center;
    line-height: 25px;
}

.titulos__portfolio {
    display: flex;
    justify-content: center;
    padding: 30px;
    color: #FFBE45;
    font-size: 30px;
    font-weight: bold;

}


/* ------------------------ SECTION HABILIDADES -------------------- */

.habilidades {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 130px;
}

.vidro__habilidades {
    background: linear-gradient(248.4deg, rgba(255, 255, 255, 0.02) 0.76%, rgba(255, 255, 255, 0.04) 95.51%);
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(150px);
    padding: 30px;
    border-radius: 30px;
}

.alinhar__habilidades {
    display: flex;
    width: 100%;
    gap: 30px;
    padding: 20px;
    justify-content: space-between;
}

/* ---------------- SECTION PROJETOS ----------------- */

.projetos{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-projetos{
    display: flex;
    position: relative;
    width: 80%;
    height: 450px;    
    align-items: center;
}

.swiper{
    width: 975px;
}

.card .image{
height: 140px;
width: 140px;
border-radius: 50%;
padding: 3px;
background: #7d2ae8;
}

.card .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff
}

.card{
    position: relative;
    background: linear-gradient(248.4deg, rgba(255, 255, 255, 0.02) 0.76%, rgba(255, 255, 255, 0.04) 95.51%);
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(150px);
    border-radius: 20px;
    margin: 20px 0;
}

.card::before{
    content: "";
    position: absolute;
    height: 45%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0 ;
}

.card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card .name-profession{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    color: #fff;
}

.name-profession .name{
    font-size: 20px; 
    font-weight: 600;
    color: #fff;
}

.name-profession .name-profession{
    font-size: 15px; 
    font-weight: 500;
    color: #fff;
}

.card .button{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card .button button{
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 14px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button button:hover{
    background: #6616d0;
}

.swiper-pagination-bullet{
    height: 7px;
    width: 26px;
    border-radius: 25px;
    background: #7d2ae8;
}

.swiper-button-next, .swiper-button-prev{
    color: #fff;
}

/* ---------------- SETION CONTATO --------------- */

.contatos {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(358.72deg, #A269FA 1.08%, #181818 100.42%);
}

.vidro__contatos {
    display: flex;
    background: linear-gradient(248.4deg, rgba(255, 255, 255, 0.02) 0.76%, rgba(255, 255, 255, 0.04) 95.51%);
    border: 0.4px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(150px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 30px;
    justify-content: center;
    padding: 130px 230px;
}

.colunas__contatos {
    display: flex;
    align-items: center;
}

.icones__contato__coluna1 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.icones__contato__coluna2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img_contatos {
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

footer {
    display: flex;
    padding: 10px;
    background: #181818;
    color: #FFFFFF;
    justify-content: center;
    background: #a269f9;
}


/* ------------- CIRCULOS DE FUNDO ---------------- */

.circle1 {
    position: absolute;
    width: 315px;
    height: 315px;
    left: 2px;
    top: 70px;
    background: linear-gradient(180deg, rgba(162, 105, 250, 0.8) 43.75%, rgba(255, 190, 69, 0.8) 100%);
    filter: blur(60px);
    backdrop-filter: blur(500px);
    border-radius: 50%;
}

.circle2 {
    position: absolute;
    width: 222px;
    height: 222px;
    left: 10%;
    top: 589px;
    background: linear-gradient(180deg, rgba(162, 105, 250, 0.8) 43.75%, rgba(255, 190, 69, 0.8) 100%);
    filter: blur(60px);
    backdrop-filter: blur(500px);
    border-radius: 50%;
}

.circle3 {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 63%;
    top: 254px;
    background: #FFBE45;
    filter: blur(40px);
    backdrop-filter: blur(500px);
    border-radius: 50%;
}

.circle4 {
    position: absolute;
    width: 330px;
    height: 330px;
    left: 69%;
    top: 1000px;
    background: #FFBE45;
    filter: blur(100px);
    border-radius: 50%;
}

.circle5 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 247px;
    top: 1900px;
    background: #FFBE45;
    filter: blur(100px);
}

.circle7 {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 60%;
    top: 2850px;
    background: linear-gradient(180deg, rgba(162, 105, 250, 0.8) 43.75%, rgba(255, 190, 69, 0.8) 100%);
    filter: blur(80px);
    border-radius: 20%;
}

.circle8 {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 20%;
    top: 2850px;
    background: linear-gradient(180deg, rgba(162, 105, 250, 0.8) 43.75%, rgba(255, 190, 69, 0.8) 100%);
    filter: blur(80px);
    border-radius: 50%;
}

.circle6 {
    position: absolute;
    width: 20%;
    height: 20%;
    left: 70%;
    top: 1950px;
    background: linear-gradient(180deg, rgba(162, 105, 250, 0.8) 43.75%, rgba(255, 190, 69, 0.8) 100%);
    filter: blur(50px);
    border-radius: 50%;
}
.imagens__portifolio {
    display: flex;
    z-index: 1;
}

.status{
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}